<% if @url.errors.any? %>
	<ul>
	  <% @url.errors.full_messages.each do |msg| %>
	        <li style="color: #C0392B;"><%= msg %></li>
	  <% end %>
	</ul>
<% end %>

<!-- ###  explicitly tell the form to route it to "create" method  ### -->

<%= form_tag(controller: "urls", action: "create", method: "post") do  %>
    <%= text_field_tag(:link, nil, :class => 'form-control input-hg flat', :placeholder => 'www.something.com')  %><br>
    <p></p>
    <%= submit_tag("create link",  :class => "btn btn-hg btn-block btn-primary")  %>
<% end %>


