<h3 style="font-family:Arial; color:Blue">Hello! Welcome to Movies App.</h3>

<body style="font-family:Arial">

<p>
<% @movies.each do |movie| %>

	 <%= movie.id %> || <%= movie.title %>, <%=movie.description %>, <%=movie.year_released %> </br>


</p>
</body>

<%end%>

