<h1 style="color:blue; font-family:Arial"> See <em>All</em> the Shirts!</h1>

<body style="font-family:Arial">

<% @shirts.each do |shirt| %>

  <%= shirt.id %> || <%= shirt.name %>: <%= shirt.description %> </br>

	<% end %>

</body>