<h3> Pick a game: </h3>
<ul>

<li>
  <%=link_to "home (/)", root_path %>
  </li>

<li> 
<%=link_to "secret number", new_secret_number_path %>
</li>

<li>
<a href="http://www.google.com">google.com</a>
</li>

</ul>
